appname = expense-management-api
httpport = 8080
runmode = dev
autorender = false
copyrequestbody = true
EnableDocs = true

# Database configuration(PostgreSQL)
POSTGRES_DB=expense_management_db
POSTGRES_USER=expense_management_db_user
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_SSLMODE=disable

# JWT Configuration
JWT_SECRET = your_secret_key
JWT_EXPIRATION_MINUTES=30
